<h1 class="jumbotron">Eau Claire's Salon Stylist Management System</h1>
<div class="btn-group" role="group" label="Header buttons">
  @Html.ActionLink("Stylists", "Index", "Stylists", new { }, new { @role="button", @class="btn" })
  @Html.ActionLink("Clients", "Index", "Clients", new { }, new { @role="button", @class="btn" })
  @Html.ActionLink("Appointments", "Index", "Appointments", new { }, new { @role="button", @class="btn" })
</div>
<hr />
