:root {
  --main-bg-color: #2E3440;
  --second-bg-color: #3B4252;
  --third-bg-color: #4C566A;
  --bright-white: #ECEFF4;
  --medium-white: #E5E9F0;
  --low-white: #D8DEE9;
  --frost-01: #8FBCBB;
  --frost-02: #88C0D0;
  --frost-03: #81A1C1;
  --frost-04: #5E81AC;
  --aurora-01: #BF616A;
  --aurora-02: #D08770;
  --aurora-03: #EBCB8B;
}

body {
  background: var(--main-bg-color);
  color: var(--low-white);
}


a:link {
  color: var(--aurora-02);
}

a:hover {
  color:var(--aurora-03);
}

a:visited {
  color:var(--aurora-02);
}

.btn {
  color:var(--aurora-02);
  background-color: var(--third-bg-color);
  border:1px black solid;
  border-radius:5px;
  position:relative;
}

.btn-input {
  margin:1rem;
}

.btn:hover {
  background-color: var(--second-bg-color);
  color: var(--aurora-03);
}

.mainPane {
  background: var(--second-bg-color);
  border:1px black solid;
  border-radius:5px;
  max-width: 600px;
  padding:1rem 1rem 1rem 1rem;
}

.innerPane {
  background: var(--third-bg-color);
  border:1px black solid;
  border-radius:5px;
  max-width:400px;
  padding:1rem;
  margin:1rem;
}

input[type="text"], textarea.form-control, input[type="datetime-local"], input[type="email"], .form-select, input[type="number"] {
  background-color: var(--third-bg-color);
  color: var(--medium-white);
  margin:0.25rem;
}

input[type="text"]:focus, input[type="textarea"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus {
  background-color: var(--second-bg-color);
  color: var(--bright-white);
  margin:0.25rem;
}

h2 {
  font-size:18px;
}

h3 {
  font-size:16px;
  color:var(--aurora-03);
}

h6 {
  font-size:large;
  color:var(--aurora-01);
}