@model HairSalon.Models.Client

<h2>Are you sure you want to delete this client?</h2>
<h6>This will also delete any associated appointments</h6>

<div class="innerPane">
  <h2>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h2>
  @using (Html.BeginForm())
  {
    <button class="btn btn-input" type="submit">Delete client</button>
  }
</div>
@Html.ActionLink("Back to client", "Details", new { id = Model.ClientId }, new { @role="button", @class="btn" })